@charset "utf-8";
/* 
    헤더구역, 풋터구역 등 공통구역에 대한 스타일
    컨텐츠 박스의 최대넓이(row)
    body 태그에 기본글꼴, 크기 등 설정
*/

/* 헤더구역 */
#header{
    background: #25204cf7;
    color:white;
    height:50px;
    width:100%;
    position:fixed;
    top:0; left: 0;
    z-index: 99;
}
#header .head {display: flex;}
#header .head h1 { width:110px; margin-left: 10px;}
#header #nav{flex:1;}
#header #nav .depth1 {display: flex; justify-content: center;}
#header #nav .depth1 > li {
    position:relative;
    padding:0 70px;
    margin-top:13px;
    border-right: 1px solid #999;
}
#header #nav .depth1 > li:last-child{border:none;}
#header #nav .depth1 > li > a {
    display: block;
}
#header #nav .depth1 > li > a::after{
    content: '';
    display: block;
    clear: both;
    border-bottom: 2px solid #25204cf7;
}
#header #nav .depth1 > li:hover > a::after{
    content: '';
    display: block;
    clear: both;
    border-bottom: 2px solid #35ceca;
}
#header #nav .depth2{
    position:absolute;
    top:100%; left:20px;
    width:150px;
    height:300px;
    text-align: left;
    padding-top:15px;
    display: none;
    z-index: 99999;
}
#header #nav:hover .depth2 {
    display: block;
}
#header #nav .depth2 > li {
    padding:5px 0;
}
#header #nav .depth2 > li > a{
    display: block;
}
#header #nav .depth2 > li:hover > a{
    color:#35ceca;
    transition: all 0.5s;
}
.head .decobox {
    position:absolute;
    top:100%; left:0;
    width: 100%;
    background-color: #25204cce;
    height:250px;
    display: none;
}
#nav:hover + .decobox { display: block;}

/* right 박스 */
#header .rightnav{width:300px;}
/*#header .rightnav .depth1 {flex:1;} */
#header .rightnav .depth1 > li{
    position:relative;
    display: inline-block;
    margin-right:20px;
}
#header .rightnav .depth1 > li:nth-child(3){
    /* background: #05deda; */
    background-color: #35ceca;
    padding:0 15px;
    line-height: 50px;
}
/* #header .rightnav .depth1 > li:nth-child(3):hover {
    background-color: #05deda;
} */


/* 풋터구역 */
#foot{
    background: #252525;
    color:white;
    padding:50px 400px;
    position: relative;
    overflow: hidden;
}
#foot > h2 {
    float: left;
}
#foot > .right {
    font-size: 13px;
    float: left;
    margin-left: 50px;
    margin-top:10px;
    color:#ACACAC;
}
#foot > .right > .middle {color:#d5d5d5;}
#foot > .right > .middle > .md > .orange{
    color:orange;
}
#foot .right .first{
    margin-top:20px;
}
#foot .right .second > .se > a > .line{
    text-decoration: underline;
}

/* 팝업창 */
#pop {
    width:250px; height:260px;
    background-color: #3d3d3d;
    color:#fff;
    position:fixed;
    top:100px; right:100px;
    border:2px solid #000;
}
#pop .pop_text {padding:50px 5px; text-align: center;}
#close {
    border:1px solid #fff;
    width:50%;
    text-align: center;
    border-radius: 10px;
    margin:0 auto;
    cursor: pointer;
}