@charset "utf-8";

/* 메인페이지에서 공통구역을 제외한 본문구역 스타일 */

/* 메인 상단 로고와 button부분 */
#center{
    background-image: url(../imgs/bg-min.png);
    height:100vh;
    position:relative;
    background-size: cover;
    margin-bottom:500px;
    background-position: center 0;
}
#center .upcenter .bg {
    text-align: center;
    padding-top:100px;
}
#center .upcenter > .btn{
    position:absolute;
    top:350px; left: 50%;
    transform: translate(-50%);
}
#center .upcenter > .btn a{
    display: inline-block;
    padding:10px 30px;
    margin:0 10px;
    background-color: #35ceca;
    color:white;
    font-size: 17px;
    font-weight: bold;
}
#center .upcenter > .btn a > img{
    margin-right: 5px;
}
#center .upcenter > .btn a:hover {
    background-color:#05deda;
    transition: all 0.5s;
}

/* 메인 중간 게시물부분 */
.micenter {
    max-width:1200px;
    margin:200px auto;
    overflow: hidden;
}
.micenter .board {
    float: left;
    width: 100%;
}
.micenter ul h3 {
    background-color: #fdd650;
    padding:15px 20px;
    border-radius: 10px 10px 0 0;
    color:white;
    font-size: 1.5rem;
}
.micenter ul h3 > a {
    float:right;
    text-align: center;
    background-color: #ff6333bf;
    width:30px; height: 30px;
    border-radius: 100%;
    line-height: 27px;
}
.micenter ul h3 > a:hover{
    background-color:#ff6333;
    transition: all 0.5s;
}
.micenter ul .noback{
    background: none;
}
.micenter li {
    /* box-shadow: 10px 10px 10px (0,0,0,0.4); */
    background-color: white;
    height:330px;
    border-radius: 20px;
    width:32%;
    float: left;
    background-size: cover;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(221, 221, 221, 0.24);
}
.micenter .board > li:nth-child(2){
    margin: 0 2%;
}
.micenter .board > li:nth-child(5){
    margin: 0 2%;
}
.micenter #one {
    background: url(../imgs/bg-card-notice-min.jpg);
    background-size: cover;
    position:relative;
    background-position: center;
    transition: all 0s;
}
.micenter #one:hover {
    background-size: 110%;
    background-position: center;
    transition: all 1s;
}
.micenter .board .wback{
    background-color: white;
    position:absolute;
    bottom: 0; left: 0;
    width:100%;
    padding: 3%;
    border-radius: 0 0 20px 20px;
}
.micenter .board .wback p {
    color:#88d718;
    font-size: 18px;
    padding-bottom: 5px;
}
.micenter #two {
    background: url(../imgs/bg-card-patch-min.jpg);
    background-size: cover;
    position:relative;
    background-position: center;
    transition: all 0s;
}
.micenter #two:hover {
    background-size: 110%;
    background-position: center;
    transition: all 1s;
}
.micenter #three {
    background-image: url(../imgs/bg-card-event-min.png);
}

.micenter table tr td{
    padding:8px 13px;
}
.micenter table tr td:nth-child(2){
    font-size: 12px;
    width:25%;
    text-align: center;
}
.micenter #four {
    background-image: url(../imgs/bg-card-event-min.png);
}
.micenter #five{
    background-color:#fdd650;
    position:relative;
}
.micenter #five .arrow a{
    font-size: 25px;
    color:white;
}
.micenter #five .arrow a:nth-child(1){
    position:absolute;
    top:50%; left:25px;
    transform: translateY(-50%);
}
.micenter #five .arrow a:nth-child(2){
    position:absolute;
    top:50%; right:25px;
    transform: translateY(-50%);
}
/* 슬라이드 자체 넓이는 무조건 outer에게 */
.bfiveOuter{
    width:250px;
    height: 160px;
    margin:10px auto;
}
.bfiveOuter .slide{
    padding:10px;
    background-size: cover;
    height:160px;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.bfiveOuter .slide1{background-image: url(../imgs/slide1.gif); position:relative;}
.bfiveOuter .slide2{background-image: url(../imgs/slide2.jpg);}
.bfiveOuter .slide3{background-image: url(../imgs/slide3.jpg);}
.bfiveOuter .slide1 .ribon{
    transform: rotate(-45deg);
    background-color: #fdd650;
    color: white;
    position:absolute;
    top:10px; left: -35px;
    text-indent: 40px;
    width:150px;
    height:30px;
    font-weight: bold;
    line-height: 30px;
}
.bfiveOuter .slide1 .btn{
    position:absolute;
    top:100%; left:50%;
    transform: translateX(-50%);
    margin-top:20px;
    width:90%;
    text-align: center;
    background-color: #35ceca;
    border-radius: 10px;
    color:white;
    padding:3px 0;
}


/* six */
.micenter #six {
    background-image: url(../imgs/bg-card-event-min.png);
}
.micenter #six .rankingbox .ranking_btn{
    display: flex;
    justify-content: space-between;
    margin:0 10px;
}
.micenter #six .rankingbox .ranking_btn button{
    width:30%;
    border-radius: 10px;
    background-color: #c9c9c9;
    border:none;
    color:white;
    font-size:17px;
    display: block;
    margin:10px 0;
}
.micenter #six .rankingbox .ranking_btn button:nth-child(1) {background-color: #35ceca;}
.micenter #six .rankingbox table {text-align: center; font-weight: bold; font-size: 13px;}
.micenter #six .rankingbox table > thead tr{
    color:#ff6333; 
    border-top: 1px solid #ff6333; 
    border-bottom: 1px solid #ff6333;
    height:30px;
}
.micenter #six .rankingbox table > thead th:nth-child(1) {width:15%;}
.micenter #six .rankingbox table > thead th:nth-child(2) {width:auto;}
.micenter #six .rankingbox table > thead th:nth-child(3) {width:20%;}
.micenter #six .rankingbox table > thead th:nth-child(4) {width:30%;}
.micenter #six .rankingbox table > tbody tr > td:nth-child(2) {font-size: 14px;}